#cadastro {
  color: #5c1520;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2rem;
}

#cadastro .form {
  color: white;
  background-color: #5c1520;
  border-radius: 4px;
  width: 100%;
  max-width: 480px;
  padding: 0.5rem;
}

#cadastro .field label {
  display: block;
}

#cadastro .field {
  padding-bottom: 0.5rem;
}

#cadastro .field input {
  width: 90%;
}

#cadastro .actions {
  text-align: center;
  margin-top: 1rem;
}
